
.navBox
    flex-grow: 1
    margin-top: 1rem
    .navHeader
        border-bottom: 1px solid rgb(173,181,189)
        font-size: 1.2rem
        line-height: 1.5
        padding-bottom: 0.5rem
        border-bottom: 1px solid rgb(173, 181, 189)
        margin-right: 2rem
        color: rgb(73, 80, 87)
        font-weight: bold
    .navTab
        font-size: 15px
        display: block
        color: rgb(52, 58, 64)
        &:hover
            text-decoration: underline
            text-underline-position: under
        &.on
            font-weight: bold
            color: #1890ff
